body{
  text-align: center;
  background-color: #f1f1f1;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
  height: 2000px;
}
h1{
  background-color: #16a085;
  color: #ecf0f1;
  padding: 15px;
  border-radius: 100px;
  text-align: center;
  font-size: 50px;
  margin: 0;
  text-shadow: 2px 2px #c0392b;
}
#times{
  color: #ecf0f1;
  font-size: 80px;
  padding: 25px;
  background-color: #16a085;
  margin: 30px auto 0 auto;
  border-radius: 100px;
  width: 400px;
  text-shadow: 2px 2px #2c3e50;
  border: 2px solid #2c3e50;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  margin-bottom: 30px;
}
#times:hover{
  background-color: #27ae60;
  color: #2c3e50;
  cursor: progress;
  transition: 1.5s;
}
#btnStart{
  padding: 10px 40px;
  background-color: #1B9CFC;
  color: #ecf0f1;
  font-size: 30px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  text-shadow: 2px 2px #2c3e50;
}
#btnStart:hover{
  background-color: #3B3B98;
  font-weight: bold;
  transition: 1.5s;
  text-shadow: 4px 4px #2c3e50;
}
#btnStop{
  padding: 10px 40px;
  background-color: #c0392b;
  color: #ecf0f1;
  font-size: 30px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  text-shadow: 2px 2px #2c3e50;
}
#btnStop:hover{
  background-color: #e67e22;
  font-weight: bold;
  transition: 1.5s;
  text-shadow: 4px 4px #2c3e50;
}
.containers{
  margin-top: 20px;
  background: #8e44ad;
  padding: 30px;
  margin: 0 auto;
  width: 800px;
}
.containers button{
  font-size: 120px;
  padding: 0px 100px;
}
