.navbar-toggle {
  float: left !important;
  margin-left: 15px;
  margin-right: 0;
  display: block;
}

.navbar-collapse.collapse {
    display: none !important;
}
.modal-nav-content {
  width: 100%;
  height: auto;
}

.modal-nav-body {
  margin-top: 100px;
}

.modal-nav-body ul {
  list-style-type: none;
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
}

.modal-nav-body ul li {
  text-align: center;
  font-size: 130%;
  padding: 8px;
  text-transform: uppercase;
}
