.container{
  text-align: center;
  margin-top: -43px;
  border-bottom: dashed chocolate;
}
h1{
  color: red;
  background: bisque;
  padding: 8px;
  font-size: 64px;
  margin-bottom: 1px;
}
body{
  background: papayawhip;
}
